<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>glyphNanny.py</string>
			<key>preferredName</key>
			<string>Glyph Nanny</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>http://tools.typesupply.com</string>
	<key>developerURL</key>
	<string>Type Supply LLC</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>Glyph Nanny</string>
	<key>timeStamp</key>
	<real>1407259268.360523</real>
	<key>version</key>
	<string>0.1</string>
	<key>repository</key>
	<string>typesupply/glyph-nanny</string>
	<key>extensionPath</key>
	<string>lib/glyphNanny.roboFontExt</string>
</dict>
</plist>
