<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>glyphNannyToggleObserverVisibility.py</string>
			<key>preferredName</key>
			<string>Show/Hide Live Report</string>
			<key>shortKey</key>
			<array>
				<integer>262144</integer>
				<string>r</string>
			</array>
		</dict>
		<dict>
			<key>path</key>
			<string>glyphNannyShowFontTester.py</string>
			<key>preferredName</key>
			<string>Show Full Font Report</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>glyphNannyShowPrefs.py</string>
			<key>preferredName</key>
			<string>Edit Preferences</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>http://tools.typesupply.com</string>
	<key>developerURL</key>
	<string>Type Supply LLC</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>1</integer>
	<key>mainScript</key>
	<string>glyphNanny.py</string>
	<key>name</key>
	<string>Glyph Nanny</string>
	<key>timeStamp</key>
	<real>1408123037.3503079</real>
	<key>version</key>
	<string>0.3</string>
	<key>repository</key>
	<string>typesupply/glyph-nanny</string>
	<key>extensionPath</key>
	<string>Glyph Nanny.roboFontExt</string>
</dict>
</plist>
