<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.background.layerStrokeColor</key>
	<array>
		<real>0.0</real>
		<real>0.8</real>
		<real>0.2</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
	<array>
		<real>0.5</real>
		<real>0.0</real>
		<real>0.5</real>
		<real>0.7</real>
	</array>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
		<string>background</string>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>curve</string>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>space</string>
				<string>A</string>
				<string>Agrave</string>
				<string>Aacute</string>
				<string>Acircumflex</string>
				<string>Atilde</string>
				<string>Adieresis</string>
				<string>Aring</string>
				<string>Amacron</string>
				<string>Abreve</string>
				<string>Aogonek</string>
				<string>B</string>
				<string>C</string>
				<string>Ccedilla</string>
				<string>Cacute</string>
				<string>Cdotaccent</string>
				<string>Ccaron</string>
				<string>D</string>
				<string>Dcaron</string>
				<string>E</string>
				<string>Egrave</string>
				<string>Eacute</string>
				<string>Ecircumflex</string>
				<string>Edieresis</string>
				<string>Emacron</string>
				<string>Ebreve</string>
				<string>Edotaccent</string>
				<string>Eogonek</string>
				<string>Ecaron</string>
				<string>F</string>
				<string>G</string>
				<string>Gbreve</string>
				<string>Gdotaccent</string>
				<string>Gcommaaccent</string>
				<string>H</string>
				<string>I</string>
				<string>Igrave</string>
				<string>Iacute</string>
				<string>Icircumflex</string>
				<string>Idieresis</string>
				<string>Itilde</string>
				<string>Imacron</string>
				<string>Ibreve</string>
				<string>Iogonek</string>
				<string>Idotaccent</string>
				<string>J</string>
				<string>K</string>
				<string>Kcommaaccent</string>
				<string>L</string>
				<string>Lacute</string>
				<string>Lcommaaccent</string>
				<string>Lcaron</string>
				<string>M</string>
				<string>N</string>
				<string>Ntilde</string>
				<string>Nacute</string>
				<string>Ncommaaccent</string>
				<string>Ncaron</string>
				<string>O</string>
				<string>Ograve</string>
				<string>Oacute</string>
				<string>Ocircumflex</string>
				<string>Otilde</string>
				<string>Odieresis</string>
				<string>Omacron</string>
				<string>Obreve</string>
				<string>Ohungarumlaut</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>Racute</string>
				<string>Rcommaaccent</string>
				<string>Rcaron</string>
				<string>S</string>
				<string>Sacute</string>
				<string>Scedilla</string>
				<string>Scaron</string>
				<string>Scommaaccent</string>
				<string>T</string>
				<string>Tcommaaccent</string>
				<string>Tcaron</string>
				<string>U</string>
				<string>Ugrave</string>
				<string>Uacute</string>
				<string>Ucircumflex</string>
				<string>Udieresis</string>
				<string>Utilde</string>
				<string>Umacron</string>
				<string>Ubreve</string>
				<string>Uring</string>
				<string>Uhungarumlaut</string>
				<string>Uogonek</string>
				<string>V</string>
				<string>W</string>
				<string>Wcircumflex</string>
				<string>Wgrave</string>
				<string>Wacute</string>
				<string>Wdieresis</string>
				<string>X</string>
				<string>Y</string>
				<string>Yacute</string>
				<string>Ycircumflex</string>
				<string>Ydieresis</string>
				<string>Ygrave</string>
				<string>Z</string>
				<string>Zacute</string>
				<string>Zdotaccent</string>
				<string>Zcaron</string>
				<string>AE</string>
				<string>AEacute</string>
				<string>Eth</string>
				<string>Oslash</string>
				<string>Thorn</string>
				<string>Dcroat</string>
				<string>Hbar</string>
				<string>IJ</string>
				<string>Ldot</string>
				<string>Lslash</string>
				<string>Eng</string>
				<string>OE</string>
				<string>Tbar</string>
				<string>a</string>
				<string>agrave</string>
				<string>aacute</string>
				<string>acircumflex</string>
				<string>atilde</string>
				<string>adieresis</string>
				<string>aring</string>
				<string>amacron</string>
				<string>abreve</string>
				<string>aogonek</string>
				<string>b</string>
				<string>c</string>
				<string>ccedilla</string>
				<string>cacute</string>
				<string>cdotaccent</string>
				<string>ccaron</string>
				<string>d</string>
				<string>dcaron</string>
				<string>e</string>
				<string>egrave</string>
				<string>eacute</string>
				<string>ecircumflex</string>
				<string>edieresis</string>
				<string>emacron</string>
				<string>ebreve</string>
				<string>edotaccent</string>
				<string>eogonek</string>
				<string>ecaron</string>
				<string>f</string>
				<string>g</string>
				<string>gbreve</string>
				<string>gdotaccent</string>
				<string>gcommaaccent</string>
				<string>h</string>
				<string>i</string>
				<string>igrave</string>
				<string>iacute</string>
				<string>icircumflex</string>
				<string>idieresis</string>
				<string>itilde</string>
				<string>imacron</string>
				<string>ibreve</string>
				<string>iogonek</string>
				<string>j</string>
				<string>k</string>
				<string>kcommaaccent</string>
				<string>l</string>
				<string>lacute</string>
				<string>lcommaaccent</string>
				<string>lcaron</string>
				<string>m</string>
				<string>n</string>
				<string>ntilde</string>
				<string>nacute</string>
				<string>ncommaaccent</string>
				<string>ncaron</string>
				<string>o</string>
				<string>ograve</string>
				<string>oacute</string>
				<string>ocircumflex</string>
				<string>otilde</string>
				<string>odieresis</string>
				<string>omacron</string>
				<string>obreve</string>
				<string>ohungarumlaut</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>racute</string>
				<string>rcommaaccent</string>
				<string>rcaron</string>
				<string>s</string>
				<string>sacute</string>
				<string>scedilla</string>
				<string>scaron</string>
				<string>scommaaccent</string>
				<string>t</string>
				<string>tcommaaccent</string>
				<string>tcaron</string>
				<string>u</string>
				<string>ugrave</string>
				<string>uacute</string>
				<string>ucircumflex</string>
				<string>udieresis</string>
				<string>utilde</string>
				<string>umacron</string>
				<string>ubreve</string>
				<string>uring</string>
				<string>uhungarumlaut</string>
				<string>uogonek</string>
				<string>v</string>
				<string>w</string>
				<string>wcircumflex</string>
				<string>wgrave</string>
				<string>wacute</string>
				<string>wdieresis</string>
				<string>x</string>
				<string>y</string>
				<string>yacute</string>
				<string>ydieresis</string>
				<string>ycircumflex</string>
				<string>ygrave</string>
				<string>z</string>
				<string>zacute</string>
				<string>zdotaccent</string>
				<string>zcaron</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>germandbls</string>
				<string>ae</string>
				<string>aeacute</string>
				<string>eth</string>
				<string>oslash</string>
				<string>thorn</string>
				<string>dcroat</string>
				<string>hbar</string>
				<string>dotlessi</string>
				<string>ij</string>
				<string>ldot</string>
				<string>lslash</string>
				<string>eng</string>
				<string>oe</string>
				<string>tbar</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>onequarter</string>
				<string>onehalf</string>
				<string>threequarters</string>
				<string>onethird</string>
				<string>twothirds</string>
				<string>oneeighth</string>
				<string>threeeighths</string>
				<string>fiveeighths</string>
				<string>seveneighths</string>
				<string>underscore</string>
				<string>hyphen</string>
				<string>endash</string>
				<string>emdash</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>bracketleft</string>
				<string>bracketright</string>
				<string>braceleft</string>
				<string>braceright</string>
				<string>numbersign</string>
				<string>percent</string>
				<string>perthousand</string>
				<string>quotesingle</string>
				<string>quotedbl</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>asterisk</string>
				<string>dagger</string>
				<string>daggerdbl</string>
				<string>period</string>
				<string>comma</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>ellipsis</string>
				<string>exclam</string>
				<string>exclamdown</string>
				<string>question</string>
				<string>questiondown</string>
				<string>slash</string>
				<string>backslash</string>
				<string>fraction</string>
				<string>bar</string>
				<string>brokenbar</string>
				<string>at</string>
				<string>ampersand</string>
				<string>section</string>
				<string>paragraph</string>
				<string>periodcentered</string>
				<string>bullet</string>
				<string>plus</string>
				<string>minus</string>
				<string>plusminus</string>
				<string>divide</string>
				<string>multiply</string>
				<string>equal</string>
				<string>less</string>
				<string>greater</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>approxequal</string>
				<string>notequal</string>
				<string>dollar</string>
				<string>cent</string>
				<string>sterling</string>
				<string>yen</string>
				<string>Euro</string>
				<string>florin</string>
				<string>asciicircum</string>
				<string>asciitilde</string>
				<string>acute</string>
				<string>grave</string>
				<string>hungarumlaut</string>
				<string>circumflex</string>
				<string>caron</string>
				<string>breve</string>
				<string>tilde</string>
				<string>macron</string>
				<string>dieresis</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>cedilla</string>
				<string>ogonek</string>
				<string>copyright</string>
				<string>registered</string>
				<string>trademark</string>
				<string>degree</string>
				<string>Etilde</string>
				<string>Pcircle</string>
				<string>Ytilde</string>
				<string>commaaccent</string>
				<string>dotlessj</string>
				<string>etilde</string>
				<string>servicemark</string>
				<string>thinspace</string>
				<string>won</string>
				<string>ytilde</string>
				<string>f_b</string>
				<string>f_f</string>
				<string>f_f_b</string>
				<string>f_f_h</string>
				<string>f_f_i</string>
				<string>f_f_j</string>
				<string>f_f_k</string>
				<string>f_f_l</string>
				<string>f_h</string>
				<string>f_i</string>
				<string>f_j</string>
				<string>f_k</string>
				<string>f_l</string>
				<string>registered.alt</string>
				<string>zero.den</string>
				<string>one.den</string>
				<string>two.den</string>
				<string>three.den</string>
				<string>four.den</string>
				<string>five.den</string>
				<string>six.den</string>
				<string>seven.den</string>
				<string>eight.den</string>
				<string>nine.den</string>
				<string>zero.num</string>
				<string>one.num</string>
				<string>two.num</string>
				<string>three.num</string>
				<string>four.num</string>
				<string>five.num</string>
				<string>six.num</string>
				<string>seven.num</string>
				<string>eight.num</string>
				<string>nine.num</string>
				<string>zero.sub</string>
				<string>one.sub</string>
				<string>two.sub</string>
				<string>three.sub</string>
				<string>four.sub</string>
				<string>five.sub</string>
				<string>six.sub</string>
				<string>seven.sub</string>
				<string>eight.sub</string>
				<string>nine.sub</string>
				<string>zero.sup</string>
				<string>one.sup</string>
				<string>two.sup</string>
				<string>three.sup</string>
				<string>four.sup</string>
				<string>five.sup</string>
				<string>six.sup</string>
				<string>seven.sup</string>
				<string>eight.sup</string>
				<string>nine.sup</string>
				<string>ordfeminine.uc</string>
				<string>ordmasculine.uc</string>
				<string>hyphen.uc</string>
				<string>endash.uc</string>
				<string>emdash.uc</string>
				<string>parenleft.uc</string>
				<string>parenright.uc</string>
				<string>bracketleft.uc</string>
				<string>bracketright.uc</string>
				<string>braceleft.uc</string>
				<string>braceright.uc</string>
				<string>guilsinglleft.uc</string>
				<string>guilsinglright.uc</string>
				<string>guillemotleft.uc</string>
				<string>guillemotright.uc</string>
				<string>slash.uc</string>
				<string>backslash.uc</string>
				<string>bar.uc</string>
				<string>brokenbar.uc</string>
				<string>at.uc</string>
				<string>exclamdown.uc</string>
				<string>questiondown.uc</string>
				<string>acute.uc</string>
				<string>grave.uc</string>
				<string>hungarumlaut.uc</string>
				<string>circumflex.uc</string>
				<string>caron.uc</string>
				<string>breve.uc</string>
				<string>tilde.uc</string>
				<string>macron.uc</string>
				<string>dieresis.uc</string>
				<string>dotaccent.uc</string>
				<string>ring.uc</string>
				<string>cedilla.uc</string>
				<string>ogonek.uc</string>
				<string>commaaccent.uc</string>
				<string>A.sc</string>
				<string>Agrave.sc</string>
				<string>Aacute.sc</string>
				<string>Acircumflex.sc</string>
				<string>Atilde.sc</string>
				<string>Adieresis.sc</string>
				<string>Aring.sc</string>
				<string>Amacron.sc</string>
				<string>Abreve.sc</string>
				<string>Aogonek.sc</string>
				<string>B.sc</string>
				<string>C.sc</string>
				<string>Ccedilla.sc</string>
				<string>Cacute.sc</string>
				<string>Cdotaccent.sc</string>
				<string>Ccaron.sc</string>
				<string>D.sc</string>
				<string>Dcaron.sc</string>
				<string>E.sc</string>
				<string>Egrave.sc</string>
				<string>Eacute.sc</string>
				<string>Ecircumflex.sc</string>
				<string>Edieresis.sc</string>
				<string>Emacron.sc</string>
				<string>Ebreve.sc</string>
				<string>Edotaccent.sc</string>
				<string>Eogonek.sc</string>
				<string>Ecaron.sc</string>
				<string>F.sc</string>
				<string>G.sc</string>
				<string>Gbreve.sc</string>
				<string>Gdotaccent.sc</string>
				<string>Gcommaaccent.sc</string>
				<string>H.sc</string>
				<string>I.sc</string>
				<string>Igrave.sc</string>
				<string>Iacute.sc</string>
				<string>Icircumflex.sc</string>
				<string>Idieresis.sc</string>
				<string>Itilde.sc</string>
				<string>Imacron.sc</string>
				<string>Ibreve.sc</string>
				<string>Iogonek.sc</string>
				<string>Idotaccent.sc</string>
				<string>J.sc</string>
				<string>K.sc</string>
				<string>Kcommaaccent.sc</string>
				<string>L.sc</string>
				<string>Lacute.sc</string>
				<string>Lcommaaccent.sc</string>
				<string>Lcaron.sc</string>
				<string>M.sc</string>
				<string>N.sc</string>
				<string>Ntilde.sc</string>
				<string>Nacute.sc</string>
				<string>Ncommaaccent.sc</string>
				<string>Ncaron.sc</string>
				<string>O.sc</string>
				<string>Ograve.sc</string>
				<string>Oacute.sc</string>
				<string>Ocircumflex.sc</string>
				<string>Otilde.sc</string>
				<string>Odieresis.sc</string>
				<string>Omacron.sc</string>
				<string>Obreve.sc</string>
				<string>Ohungarumlaut.sc</string>
				<string>P.sc</string>
				<string>Q.sc</string>
				<string>R.sc</string>
				<string>Racute.sc</string>
				<string>Rcommaaccent.sc</string>
				<string>Rcaron.sc</string>
				<string>S.sc</string>
				<string>Sacute.sc</string>
				<string>Scedilla.sc</string>
				<string>Scaron.sc</string>
				<string>Scommaaccent.sc</string>
				<string>T.sc</string>
				<string>Tcommaaccent.sc</string>
				<string>Tcaron.sc</string>
				<string>U.sc</string>
				<string>Ugrave.sc</string>
				<string>Uacute.sc</string>
				<string>Ucircumflex.sc</string>
				<string>Udieresis.sc</string>
				<string>Utilde.sc</string>
				<string>Umacron.sc</string>
				<string>Ubreve.sc</string>
				<string>Uring.sc</string>
				<string>Uhungarumlaut.sc</string>
				<string>Uogonek.sc</string>
				<string>V.sc</string>
				<string>W.sc</string>
				<string>Wcircumflex.sc</string>
				<string>Wgrave.sc</string>
				<string>Wacute.sc</string>
				<string>Wdieresis.sc</string>
				<string>X.sc</string>
				<string>Y.sc</string>
				<string>Yacute.sc</string>
				<string>Ycircumflex.sc</string>
				<string>Ydieresis.sc</string>
				<string>Ygrave.sc</string>
				<string>Z.sc</string>
				<string>Zacute.sc</string>
				<string>Zdotaccent.sc</string>
				<string>Zcaron.sc</string>
				<string>AE.sc</string>
				<string>AEacute.sc</string>
				<string>Eth.sc</string>
				<string>Oslash.sc</string>
				<string>Thorn.sc</string>
				<string>Dcroat.sc</string>
				<string>Hbar.sc</string>
				<string>IJ.sc</string>
				<string>Ldot.sc</string>
				<string>Lslash.sc</string>
				<string>Eng.sc</string>
				<string>OE.sc</string>
				<string>Tbar.sc</string>
				<string>ordfeminine.sc</string>
				<string>ordmasculine.sc</string>
				<string>zero.sc</string>
				<string>one.sc</string>
				<string>two.sc</string>
				<string>three.sc</string>
				<string>four.sc</string>
				<string>five.sc</string>
				<string>six.sc</string>
				<string>seven.sc</string>
				<string>eight.sc</string>
				<string>nine.sc</string>
				<string>hyphen.sc</string>
				<string>endash.sc</string>
				<string>emdash.sc</string>
				<string>parenleft.sc</string>
				<string>parenright.sc</string>
				<string>bracketleft.sc</string>
				<string>bracketright.sc</string>
				<string>braceleft.sc</string>
				<string>braceright.sc</string>
				<string>numbersign.sc</string>
				<string>percent.sc</string>
				<string>perthousand.sc</string>
				<string>quotesingle.sc</string>
				<string>quotedbl.sc</string>
				<string>quoteleft.sc</string>
				<string>quoteright.sc</string>
				<string>quotedblleft.sc</string>
				<string>quotedblright.sc</string>
				<string>guilsinglleft.sc</string>
				<string>guilsinglright.sc</string>
				<string>guillemotleft.sc</string>
				<string>guillemotright.sc</string>
				<string>asterisk.sc</string>
				<string>dagger.sc</string>
				<string>daggerdbl.sc</string>
				<string>slash.sc</string>
				<string>backslash.sc</string>
				<string>bar.sc</string>
				<string>brokenbar.sc</string>
				<string>colon.sc</string>
				<string>semicolon.sc</string>
				<string>exclam.sc</string>
				<string>exclamdown.sc</string>
				<string>question.sc</string>
				<string>questiondown.sc</string>
				<string>at.sc</string>
				<string>ampersand.sc</string>
				<string>section.sc</string>
				<string>paragraph.sc</string>
				<string>periodcentered.sc</string>
				<string>bullet.sc</string>
				<string>plus.sc</string>
				<string>minus.sc</string>
				<string>plusminus.sc</string>
				<string>divide.sc</string>
				<string>multiply.sc</string>
				<string>equal.sc</string>
				<string>less.sc</string>
				<string>greater.sc</string>
				<string>lessequal.sc</string>
				<string>greaterequal.sc</string>
				<string>approxequal.sc</string>
				<string>notequal.sc</string>
				<string>dollar.sc</string>
				<string>cent.sc</string>
				<string>sterling.sc</string>
				<string>yen.sc</string>
				<string>Euro.sc</string>
				<string>florin.sc</string>
				<string>asciicircum.sc</string>
				<string>asciitilde.sc</string>
				<string>copyright.sc</string>
				<string>registered.sc</string>
				<string>trademark.sc</string>
				<string>degree.sc</string>
				<string>Etilde.sc</string>
				<string>Pcircle.sc</string>
				<string>Ytilde.sc</string>
				<string>servicemark.sc</string>
				<string>won.sc</string>
				<string>zero.lintab</string>
				<string>one.lintab</string>
				<string>two.lintab</string>
				<string>three.lintab</string>
				<string>four.lintab</string>
				<string>five.lintab</string>
				<string>six.lintab</string>
				<string>seven.lintab</string>
				<string>eight.lintab</string>
				<string>nine.lintab</string>
				<string>parenleft.lintab</string>
				<string>parenright.lintab</string>
				<string>bracketleft.lintab</string>
				<string>bracketright.lintab</string>
				<string>braceleft.lintab</string>
				<string>braceright.lintab</string>
				<string>numbersign.lintab</string>
				<string>percent.lintab</string>
				<string>perthousand.lintab</string>
				<string>period.lintab</string>
				<string>comma.lintab</string>
				<string>colon.lintab</string>
				<string>semicolon.lintab</string>
				<string>dollar.lintab</string>
				<string>cent.lintab</string>
				<string>sterling.lintab</string>
				<string>yen.lintab</string>
				<string>Euro.lintab</string>
				<string>florin.lintab</string>
				<string>won.lintab</string>
				<string>zero.oldtab</string>
				<string>one.oldtab</string>
				<string>two.oldtab</string>
				<string>three.oldtab</string>
				<string>four.oldtab</string>
				<string>five.oldtab</string>
				<string>six.oldtab</string>
				<string>seven.oldtab</string>
				<string>eight.oldtab</string>
				<string>nine.oldtab</string>
				<string>parenleft.oldtab</string>
				<string>parenright.oldtab</string>
				<string>bracketleft.oldtab</string>
				<string>bracketright.oldtab</string>
				<string>braceleft.oldtab</string>
				<string>braceright.oldtab</string>
				<string>numbersign.oldtab</string>
				<string>percent.oldtab</string>
				<string>perthousand.oldtab</string>
				<string>period.oldtab</string>
				<string>comma.oldtab</string>
				<string>colon.oldtab</string>
				<string>semicolon.oldtab</string>
				<string>dollar.oldtab</string>
				<string>cent.oldtab</string>
				<string>sterling.oldtab</string>
				<string>yen.oldtab</string>
				<string>Euro.oldtab</string>
				<string>florin.oldtab</string>
				<string>won.oldtab</string>
				<string>zero.lin</string>
				<string>one.lin</string>
				<string>two.lin</string>
				<string>three.lin</string>
				<string>four.lin</string>
				<string>five.lin</string>
				<string>six.lin</string>
				<string>seven.lin</string>
				<string>eight.lin</string>
				<string>nine.lin</string>
				<string>numbersign.lin</string>
				<string>percent.lin</string>
				<string>perthousand.lin</string>
				<string>dollar.lin</string>
				<string>cent.lin</string>
				<string>sterling.lin</string>
				<string>yen.lin</string>
				<string>Euro.lin</string>
				<string>florin.lin</string>
				<string>degree.lin</string>
				<string>won.lin</string>
				<string>zero.old</string>
				<string>one.old</string>
				<string>two.old</string>
				<string>three.old</string>
				<string>four.old</string>
				<string>five.old</string>
				<string>six.old</string>
				<string>seven.old</string>
				<string>eight.old</string>
				<string>nine.old</string>
				<string>numbersign.old</string>
				<string>percent.old</string>
				<string>perthousand.old</string>
				<string>dollar.old</string>
				<string>cent.old</string>
				<string>sterling.old</string>
				<string>yen.old</string>
				<string>Euro.old</string>
				<string>florin.old</string>
				<string>degree.old</string>
				<string>won.old</string>
				<string>.notdef</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>space</string>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcommaaccent</string>
		<string>H</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>J</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcommaaccent</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncommaaccent</string>
		<string>Ncaron</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcommaaccent</string>
		<string>Rcaron</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>Tcommaaccent</string>
		<string>Tcaron</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Hbar</string>
		<string>IJ</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Eng</string>
		<string>OE</string>
		<string>Tbar</string>
		<string>a</string>
		<string>agrave</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>atilde</string>
		<string>adieresis</string>
		<string>aring</string>
		<string>amacron</string>
		<string>abreve</string>
		<string>aogonek</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>cacute</string>
		<string>cdotaccent</string>
		<string>ccaron</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>egrave</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>emacron</string>
		<string>ebreve</string>
		<string>edotaccent</string>
		<string>eogonek</string>
		<string>ecaron</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gdotaccent</string>
		<string>gcommaaccent</string>
		<string>h</string>
		<string>i</string>
		<string>igrave</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>itilde</string>
		<string>imacron</string>
		<string>ibreve</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcommaaccent</string>
		<string>lcaron</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>nacute</string>
		<string>ncommaaccent</string>
		<string>ncaron</string>
		<string>o</string>
		<string>ograve</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>otilde</string>
		<string>odieresis</string>
		<string>omacron</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcommaaccent</string>
		<string>rcaron</string>
		<string>s</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scaron</string>
		<string>scommaaccent</string>
		<string>t</string>
		<string>tcommaaccent</string>
		<string>tcaron</string>
		<string>u</string>
		<string>ugrave</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>ubreve</string>
		<string>uring</string>
		<string>uhungarumlaut</string>
		<string>uogonek</string>
		<string>v</string>
		<string>w</string>
		<string>wcircumflex</string>
		<string>wgrave</string>
		<string>wacute</string>
		<string>wdieresis</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>zcaron</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>germandbls</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>eth</string>
		<string>oslash</string>
		<string>thorn</string>
		<string>dcroat</string>
		<string>hbar</string>
		<string>dotlessi</string>
		<string>ij</string>
		<string>ldot</string>
		<string>lslash</string>
		<string>eng</string>
		<string>oe</string>
		<string>tbar</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>onequarter</string>
		<string>onehalf</string>
		<string>threequarters</string>
		<string>onethird</string>
		<string>twothirds</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>underscore</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>numbersign</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>asterisk</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>slash</string>
		<string>backslash</string>
		<string>fraction</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>section</string>
		<string>paragraph</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>divide</string>
		<string>multiply</string>
		<string>equal</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>approxequal</string>
		<string>notequal</string>
		<string>dollar</string>
		<string>cent</string>
		<string>sterling</string>
		<string>yen</string>
		<string>Euro</string>
		<string>florin</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
		<string>acute</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>circumflex</string>
		<string>caron</string>
		<string>breve</string>
		<string>tilde</string>
		<string>macron</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>cedilla</string>
		<string>ogonek</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>Etilde</string>
		<string>Pcircle</string>
		<string>Ytilde</string>
		<string>commaaccent</string>
		<string>dotlessj</string>
		<string>etilde</string>
		<string>servicemark</string>
		<string>thinspace</string>
		<string>won</string>
		<string>ytilde</string>
		<string>f_b</string>
		<string>f_f</string>
		<string>f_f_b</string>
		<string>f_f_h</string>
		<string>f_f_i</string>
		<string>f_f_j</string>
		<string>f_f_k</string>
		<string>f_f_l</string>
		<string>f_h</string>
		<string>f_i</string>
		<string>f_j</string>
		<string>f_k</string>
		<string>f_l</string>
		<string>registered.alt</string>
		<string>zero.den</string>
		<string>one.den</string>
		<string>two.den</string>
		<string>three.den</string>
		<string>four.den</string>
		<string>five.den</string>
		<string>six.den</string>
		<string>seven.den</string>
		<string>eight.den</string>
		<string>nine.den</string>
		<string>zero.num</string>
		<string>one.num</string>
		<string>two.num</string>
		<string>three.num</string>
		<string>four.num</string>
		<string>five.num</string>
		<string>six.num</string>
		<string>seven.num</string>
		<string>eight.num</string>
		<string>nine.num</string>
		<string>zero.sub</string>
		<string>one.sub</string>
		<string>two.sub</string>
		<string>three.sub</string>
		<string>four.sub</string>
		<string>five.sub</string>
		<string>six.sub</string>
		<string>seven.sub</string>
		<string>eight.sub</string>
		<string>nine.sub</string>
		<string>zero.sup</string>
		<string>one.sup</string>
		<string>two.sup</string>
		<string>three.sup</string>
		<string>four.sup</string>
		<string>five.sup</string>
		<string>six.sup</string>
		<string>seven.sup</string>
		<string>eight.sup</string>
		<string>nine.sup</string>
		<string>ordfeminine.uc</string>
		<string>ordmasculine.uc</string>
		<string>hyphen.uc</string>
		<string>endash.uc</string>
		<string>emdash.uc</string>
		<string>parenleft.uc</string>
		<string>parenright.uc</string>
		<string>bracketleft.uc</string>
		<string>bracketright.uc</string>
		<string>braceleft.uc</string>
		<string>braceright.uc</string>
		<string>guilsinglleft.uc</string>
		<string>guilsinglright.uc</string>
		<string>guillemotleft.uc</string>
		<string>guillemotright.uc</string>
		<string>slash.uc</string>
		<string>backslash.uc</string>
		<string>bar.uc</string>
		<string>brokenbar.uc</string>
		<string>at.uc</string>
		<string>exclamdown.uc</string>
		<string>questiondown.uc</string>
		<string>acute.uc</string>
		<string>grave.uc</string>
		<string>hungarumlaut.uc</string>
		<string>circumflex.uc</string>
		<string>caron.uc</string>
		<string>breve.uc</string>
		<string>tilde.uc</string>
		<string>macron.uc</string>
		<string>dieresis.uc</string>
		<string>dotaccent.uc</string>
		<string>ring.uc</string>
		<string>cedilla.uc</string>
		<string>ogonek.uc</string>
		<string>commaaccent.uc</string>
		<string>A.sc</string>
		<string>Agrave.sc</string>
		<string>Aacute.sc</string>
		<string>Acircumflex.sc</string>
		<string>Atilde.sc</string>
		<string>Adieresis.sc</string>
		<string>Aring.sc</string>
		<string>Amacron.sc</string>
		<string>Abreve.sc</string>
		<string>Aogonek.sc</string>
		<string>B.sc</string>
		<string>C.sc</string>
		<string>Ccedilla.sc</string>
		<string>Cacute.sc</string>
		<string>Cdotaccent.sc</string>
		<string>Ccaron.sc</string>
		<string>D.sc</string>
		<string>Dcaron.sc</string>
		<string>E.sc</string>
		<string>Egrave.sc</string>
		<string>Eacute.sc</string>
		<string>Ecircumflex.sc</string>
		<string>Edieresis.sc</string>
		<string>Emacron.sc</string>
		<string>Ebreve.sc</string>
		<string>Edotaccent.sc</string>
		<string>Eogonek.sc</string>
		<string>Ecaron.sc</string>
		<string>F.sc</string>
		<string>G.sc</string>
		<string>Gbreve.sc</string>
		<string>Gdotaccent.sc</string>
		<string>Gcommaaccent.sc</string>
		<string>H.sc</string>
		<string>I.sc</string>
		<string>Igrave.sc</string>
		<string>Iacute.sc</string>
		<string>Icircumflex.sc</string>
		<string>Idieresis.sc</string>
		<string>Itilde.sc</string>
		<string>Imacron.sc</string>
		<string>Ibreve.sc</string>
		<string>Iogonek.sc</string>
		<string>Idotaccent.sc</string>
		<string>J.sc</string>
		<string>K.sc</string>
		<string>Kcommaaccent.sc</string>
		<string>L.sc</string>
		<string>Lacute.sc</string>
		<string>Lcommaaccent.sc</string>
		<string>Lcaron.sc</string>
		<string>M.sc</string>
		<string>N.sc</string>
		<string>Ntilde.sc</string>
		<string>Nacute.sc</string>
		<string>Ncommaaccent.sc</string>
		<string>Ncaron.sc</string>
		<string>O.sc</string>
		<string>Ograve.sc</string>
		<string>Oacute.sc</string>
		<string>Ocircumflex.sc</string>
		<string>Otilde.sc</string>
		<string>Odieresis.sc</string>
		<string>Omacron.sc</string>
		<string>Obreve.sc</string>
		<string>Ohungarumlaut.sc</string>
		<string>P.sc</string>
		<string>Q.sc</string>
		<string>R.sc</string>
		<string>Racute.sc</string>
		<string>Rcommaaccent.sc</string>
		<string>Rcaron.sc</string>
		<string>S.sc</string>
		<string>Sacute.sc</string>
		<string>Scedilla.sc</string>
		<string>Scaron.sc</string>
		<string>Scommaaccent.sc</string>
		<string>T.sc</string>
		<string>Tcommaaccent.sc</string>
		<string>Tcaron.sc</string>
		<string>U.sc</string>
		<string>Ugrave.sc</string>
		<string>Uacute.sc</string>
		<string>Ucircumflex.sc</string>
		<string>Udieresis.sc</string>
		<string>Utilde.sc</string>
		<string>Umacron.sc</string>
		<string>Ubreve.sc</string>
		<string>Uring.sc</string>
		<string>Uhungarumlaut.sc</string>
		<string>Uogonek.sc</string>
		<string>V.sc</string>
		<string>W.sc</string>
		<string>Wcircumflex.sc</string>
		<string>Wgrave.sc</string>
		<string>Wacute.sc</string>
		<string>Wdieresis.sc</string>
		<string>X.sc</string>
		<string>Y.sc</string>
		<string>Yacute.sc</string>
		<string>Ycircumflex.sc</string>
		<string>Ydieresis.sc</string>
		<string>Ygrave.sc</string>
		<string>Z.sc</string>
		<string>Zacute.sc</string>
		<string>Zdotaccent.sc</string>
		<string>Zcaron.sc</string>
		<string>AE.sc</string>
		<string>AEacute.sc</string>
		<string>Eth.sc</string>
		<string>Oslash.sc</string>
		<string>Thorn.sc</string>
		<string>Dcroat.sc</string>
		<string>Hbar.sc</string>
		<string>IJ.sc</string>
		<string>Ldot.sc</string>
		<string>Lslash.sc</string>
		<string>Eng.sc</string>
		<string>OE.sc</string>
		<string>Tbar.sc</string>
		<string>ordfeminine.sc</string>
		<string>ordmasculine.sc</string>
		<string>zero.sc</string>
		<string>one.sc</string>
		<string>two.sc</string>
		<string>three.sc</string>
		<string>four.sc</string>
		<string>five.sc</string>
		<string>six.sc</string>
		<string>seven.sc</string>
		<string>eight.sc</string>
		<string>nine.sc</string>
		<string>hyphen.sc</string>
		<string>endash.sc</string>
		<string>emdash.sc</string>
		<string>parenleft.sc</string>
		<string>parenright.sc</string>
		<string>bracketleft.sc</string>
		<string>bracketright.sc</string>
		<string>braceleft.sc</string>
		<string>braceright.sc</string>
		<string>numbersign.sc</string>
		<string>percent.sc</string>
		<string>perthousand.sc</string>
		<string>quotesingle.sc</string>
		<string>quotedbl.sc</string>
		<string>quoteleft.sc</string>
		<string>quoteright.sc</string>
		<string>quotedblleft.sc</string>
		<string>quotedblright.sc</string>
		<string>guilsinglleft.sc</string>
		<string>guilsinglright.sc</string>
		<string>guillemotleft.sc</string>
		<string>guillemotright.sc</string>
		<string>asterisk.sc</string>
		<string>dagger.sc</string>
		<string>daggerdbl.sc</string>
		<string>slash.sc</string>
		<string>backslash.sc</string>
		<string>bar.sc</string>
		<string>brokenbar.sc</string>
		<string>colon.sc</string>
		<string>semicolon.sc</string>
		<string>exclam.sc</string>
		<string>exclamdown.sc</string>
		<string>question.sc</string>
		<string>questiondown.sc</string>
		<string>at.sc</string>
		<string>ampersand.sc</string>
		<string>section.sc</string>
		<string>paragraph.sc</string>
		<string>periodcentered.sc</string>
		<string>bullet.sc</string>
		<string>plus.sc</string>
		<string>minus.sc</string>
		<string>plusminus.sc</string>
		<string>divide.sc</string>
		<string>multiply.sc</string>
		<string>equal.sc</string>
		<string>less.sc</string>
		<string>greater.sc</string>
		<string>lessequal.sc</string>
		<string>greaterequal.sc</string>
		<string>approxequal.sc</string>
		<string>notequal.sc</string>
		<string>dollar.sc</string>
		<string>cent.sc</string>
		<string>sterling.sc</string>
		<string>yen.sc</string>
		<string>Euro.sc</string>
		<string>florin.sc</string>
		<string>asciicircum.sc</string>
		<string>asciitilde.sc</string>
		<string>copyright.sc</string>
		<string>registered.sc</string>
		<string>trademark.sc</string>
		<string>degree.sc</string>
		<string>Etilde.sc</string>
		<string>Pcircle.sc</string>
		<string>Ytilde.sc</string>
		<string>servicemark.sc</string>
		<string>won.sc</string>
		<string>zero.lintab</string>
		<string>one.lintab</string>
		<string>two.lintab</string>
		<string>three.lintab</string>
		<string>four.lintab</string>
		<string>five.lintab</string>
		<string>six.lintab</string>
		<string>seven.lintab</string>
		<string>eight.lintab</string>
		<string>nine.lintab</string>
		<string>parenleft.lintab</string>
		<string>parenright.lintab</string>
		<string>bracketleft.lintab</string>
		<string>bracketright.lintab</string>
		<string>braceleft.lintab</string>
		<string>braceright.lintab</string>
		<string>numbersign.lintab</string>
		<string>percent.lintab</string>
		<string>perthousand.lintab</string>
		<string>period.lintab</string>
		<string>comma.lintab</string>
		<string>colon.lintab</string>
		<string>semicolon.lintab</string>
		<string>dollar.lintab</string>
		<string>cent.lintab</string>
		<string>sterling.lintab</string>
		<string>yen.lintab</string>
		<string>Euro.lintab</string>
		<string>florin.lintab</string>
		<string>won.lintab</string>
		<string>zero.oldtab</string>
		<string>one.oldtab</string>
		<string>two.oldtab</string>
		<string>three.oldtab</string>
		<string>four.oldtab</string>
		<string>five.oldtab</string>
		<string>six.oldtab</string>
		<string>seven.oldtab</string>
		<string>eight.oldtab</string>
		<string>nine.oldtab</string>
		<string>parenleft.oldtab</string>
		<string>parenright.oldtab</string>
		<string>bracketleft.oldtab</string>
		<string>bracketright.oldtab</string>
		<string>braceleft.oldtab</string>
		<string>braceright.oldtab</string>
		<string>numbersign.oldtab</string>
		<string>percent.oldtab</string>
		<string>perthousand.oldtab</string>
		<string>period.oldtab</string>
		<string>comma.oldtab</string>
		<string>colon.oldtab</string>
		<string>semicolon.oldtab</string>
		<string>dollar.oldtab</string>
		<string>cent.oldtab</string>
		<string>sterling.oldtab</string>
		<string>yen.oldtab</string>
		<string>Euro.oldtab</string>
		<string>florin.oldtab</string>
		<string>won.oldtab</string>
		<string>zero.lin</string>
		<string>one.lin</string>
		<string>two.lin</string>
		<string>three.lin</string>
		<string>four.lin</string>
		<string>five.lin</string>
		<string>six.lin</string>
		<string>seven.lin</string>
		<string>eight.lin</string>
		<string>nine.lin</string>
		<string>numbersign.lin</string>
		<string>percent.lin</string>
		<string>perthousand.lin</string>
		<string>dollar.lin</string>
		<string>cent.lin</string>
		<string>sterling.lin</string>
		<string>yen.lin</string>
		<string>Euro.lin</string>
		<string>florin.lin</string>
		<string>degree.lin</string>
		<string>won.lin</string>
		<string>zero.old</string>
		<string>one.old</string>
		<string>two.old</string>
		<string>three.old</string>
		<string>four.old</string>
		<string>five.old</string>
		<string>six.old</string>
		<string>seven.old</string>
		<string>eight.old</string>
		<string>nine.old</string>
		<string>numbersign.old</string>
		<string>percent.old</string>
		<string>perthousand.old</string>
		<string>dollar.old</string>
		<string>cent.old</string>
		<string>sterling.old</string>
		<string>yen.old</string>
		<string>Euro.old</string>
		<string>florin.old</string>
		<string>degree.old</string>
		<string>won.old</string>
		<string>.notdef</string>
	</array>
</dict>
</plist>
